{{include './header.html'}}


<main class="container secondbox">
    <aside class="l-box">
        <!-- 关于 -->
        <div class="about-me">
            <h2>关于</h2>
            <ul class="clearfix">
                <i><img src="/img/王昭君.png" alt=""></i>
                {{if user}}
                <form action="">
                    <label for="username">姓名：<input type="text" name="username" value="{{user.username}}"></label><br>
                    <label>邮箱：<input type="text" name="email" value="{{user.email}}"></label><br>
                </form>
                </form>
                <br>
                <p>
                    <b> {{user.username}} </b>
                    ，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。
                </p>
            </ul>
        </div>
        {{else}}
        <form action="">
            <label for="username">姓名：<input type="text" name="username" value=" "></label><br>
            <label>邮箱：<input type="text" name="email" value=""></label><br>
        </form>

        </ul>
        </div>
        {{/if}}
        <!-- 搜索 -->
        <div class="search">
            <form action="">
                <input type="text" name="keyword" value="请输入关键字" class="input-text">
                <input type="submit" name="Submit" value="搜索" class="input-submit">
            </form>
        </div>

        <!--存档  -->
        <div class="cundang">
            <h2>存档</h2>
            <ul>
                    {{each msgs msg}}
                    <li> 
                        <a href="/details/{{msg._id}}" target="_blank">{{msg.title}}</a>                  
                    </li>
                   {{/each}}
            </ul>
        </div>
        <!-- 关注我 -->
        <div class="guanzhu">
            <h2>关注我</h2>
            <ul>
                <img src="/img/1563431722.png">
            </ul>
        </div>
    </aside>
    <main class="r-box">
        <ul class="r-box-menu">            
            {{each msgs msg}}
            <li class="shouye-li">
                <h3>[ 顶 ] <a href="/details/{{msg._id}}" target="_blank">{{msg.title}}</a>
                    <input type="text" name="_id" value="{{msg._id}}" hidden>
                    <br>
                    <span>作者：</span>
                    <a href="/author/{{msg.author}}">{{msg.author}}</a>
                    <span>日期：</span>
                    <a href="#">{{msg.time}} |</a>
                    <span>标签：</span>
                    {{each msg.tag tag}}
                    <a href="/tag/{{tag}}"> {{tag}} </a>
                    {{/each}}
                </h3>
                <p class="shouye">{{msg.msg}} </p>
            </li>
            {{/each}}
        </ul>
        {{if page>1 }}
        <a href="?page={{page-1}}">上一页</a>
        {{/if}}
        <span>第{{page}}页</span>
        {{if page<pages }}
        <a href="?page={{page+1}}">下一页</a>
        {{/if}}
    </main>

</main>



{{include './footer.html'}}