<!-- 尾部 -->
<footer class=" ">
    {{if user}}
    <p>Design by <a href="/">{{user.username}}个人博客</a> 备案号：<a href="/">蜀ICP备11002373号-1</a></p>
    {{else}}
    <p>Design by <a href="/">个人博客</a> 备案号：<a href="/">蜀ICP备11002373号-1</a></p>
    {{/if}}
</footer>


</body>

</html>
<script>
// var inputText=document.querySelector('.input-text');
//     inputText.onfocus=function(){
//         if(inputText.value=="请输入关键字"){
//             this.style.color='#000';
//             // this.value='';
//         }
//     }
//     inputText.onblur=function(){
//         if(inputText.value==""){
//             this.style.color="#999";
//             // this.value='请输入关键字';
//         }
//     }


</script>